/*
!.gitignore
!README.md
!package.json
!webpack.mix.js
!Sef.fig
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/sef/
!wp-content/themes/sef/*
/wp-content/themes/sef/public/content/
wp-content/themes/sef/.DS_Store
