@import "../../config/paddings";

.news {
  @include padding-sides();
  @include padding-vertical();

  display: flex;
  flex-direction: column;
  gap: 2rem;

}

@media (min-width: 760px) {
  .news {
    gap: 3rem;
  }
}

@media (min-width: 920px) {
  .news {
    gap: 4rem;
  }
}