$clr-black: hsla(0, 18%, 10%, 100%);
$clr-grey: hsla(36, 5%, 79%, 100%);
$clr-white: hsla(45, 25%, 97%, 100%);
$clr-white: hsla(42, 28%, 93%, 100%);
$clr-bg-green: hsla(100, 43%, 89%, 100%);
$clr-bg-orange: hsla(29, 80%, 90%, 100%);
$clr-bg-pink: hsla(278, 22%, 90%, 100%);
$clr-bg-blue: hsla(213, 22%, 90%, 100%);
$clr-bg-red: hsla(0, 100%, 90%, 100%);
$clr-acc-green: hsla(162, 48%, 32%, 100%);
$clr-acc-orange: hsla(30, 100%, 75%, 100%);
$clr-acc-purple: hsla(278, 100%, 75%, 100%);
$clr-acc-blue: hsla(213, 100%, 75%, 100%);
$clr-acc-red: hsla(0, 100%, 35%, 100%);