// **********************************************************
// Padding variables
// **********************************************************
$padding-side-xs: 1.25rem; //20px
$padding-side-s: 2.5rem; //40px
$padding-side-m: 3.75rem; //60px
$padding-side-l: 5rem; //80px
$max-width: 1280px;

// Adds padding left and right based on screen width.
// **********************************************************
// - @include padding-sides()
// **********************************************************
@mixin padding-sides {
  padding-left: $padding-side-xs;
  padding-right: $padding-side-xs;

  @media (min-width: 760px) {
    padding-left: $padding-side-s;
    padding-right: $padding-side-s;
  }

  @media (min-width: 920px) {
    padding-left: $padding-side-l;
    padding-right: $padding-side-l;
  }

  @media (min-width: 1440px) {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }
}

// Adds margin top and bottom based on screen width.
// **********************************************************
// - @include padding-vertical()
// **********************************************************
@mixin padding-vertical {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @media (min-width: 760px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @media (min-width: 920px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @media (min-width: 1440px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

// Adds padding based on screen width.
// **********************************************************
// - @include padding-card()
// **********************************************************
@mixin padding-card {
  padding: $padding-side-xs;

  @media (min-width: 760px) {
    padding: $padding-side-s;
  }

  @media (min-width: 920px) {
    padding: $padding-side-m;
  }
}

// Adds gap based on screen width.
// **********************************************************
// - @include gap-card()
// **********************************************************
@mixin gap-card {
  gap: $padding-side-xs;

  @media (min-width: 760px) {
    gap: $padding-side-s;
  }

  @media (min-width: 920px) {
    gap: $padding-side-l;
  }
}