@import "../../config/paddings";
@import "../../config/elements";

.home {
  @include padding-sides();
  @include padding-vertical();

  .contact {
    @include padding-card();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 350px;
    background-color: #FAE5D1;
    border-radius: $radius-xl;

    &__title {
      max-width: 65%;
      text-align: center;
    }
  }
}