@import "../../config/paddings";

.support {
  @include padding-sides();
  @include padding-vertical();

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 760px) {
  .support {
    gap: 4rem;
  }
}

@media (min-width: 920px) {
  .support {
    gap: 6rem;
  }
}