@import "../../config/colors";
@import "../../config/fonts";
@import "../../config/elements";
@import "../../config/animations";
@import "../../config/spacings";
@import "../../config/paddings";

.support {

  &__subtitle {
    @include h2();
    font-weight: $fw-bold;
    margin-bottom: 1em;
  }

  &__volunteering {
    @include gap-card();

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .volunteering__card {
      @include padding-card();
      display: flex;
      flex-direction: column;
      gap: 2rem;
      border-radius: $radius-xl;
      background-color: $clr-bg-pink;
    }

    .volunteering__card--green {
      background-color: $clr-bg-green;
    }

    .volunteering__card--orange {
      background-color: $clr-bg-orange;
    }

    .volunteering__card--pink {
      background-color: $clr-bg-pink;
    }

    .volunteering__card--blue {
      background-color: $clr-bg-blue;
    }

    .volunteering__card--red {
      background-color: $clr-bg-red;
    }

    .volunteering__card--vanilla {
      background-color: $clr-vanilla;
    }
  }

  &__volunteering > * {
    flex-grow: 1;
  }

  .card__button-container {
    display: flex;
    justify-content: center;
    width: 100%;

    a {
      flex-grow: 1;
      max-width: calc($max-width / 2);
    }
  }

  .card__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
  }

  .card__content-wrapper > * {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
  }

  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $padding-side-xs;

    ul > * + * {
      margin-block-start: 1rem;
    }
  }

  .card__subtext {
    @include h3();
    font-weight: $fw-bold;
  }

  .card__content-item {
    @include paragraph-small();
    position: relative;
    padding-left: 3rem;
  }

  .card__content-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 23px; /* Largeur de l'icône SVG */
    height: 23px; /* Hauteur de l'icône SVG */
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 11.8155L11 13.8155L15 9.81552M3.85019 8.43553C3.70423 7.77805 3.72665 7.09437 3.91535 6.44787C4.10405 5.80136 4.45294 5.21297 4.92966 4.73725C5.40638 4.26153 5.9955 3.91387 6.6424 3.72652C7.2893 3.53917 7.97303 3.51819 8.63019 3.66553C8.9919 3.09983 9.4902 2.63429 10.0791 2.31181C10.6681 1.98934 11.3287 1.82031 12.0002 1.82031C12.6716 1.82031 13.3323 1.98934 13.9212 2.31181C14.5102 2.63429 15.0085 3.09983 15.3702 3.66553C16.0284 3.51755 16.7133 3.53844 17.3612 3.72624C18.0091 3.91405 18.599 4.26267 19.076 4.73968C19.5531 5.21669 19.9017 5.8066 20.0895 6.45453C20.2773 7.10246 20.2982 7.78736 20.1502 8.44553C20.7159 8.80724 21.1814 9.30553 21.5039 9.89448C21.8264 10.4834 21.9954 11.1441 21.9954 11.8155C21.9954 12.487 21.8264 13.1476 21.5039 13.7366C21.1814 14.3255 20.7159 14.8238 20.1502 15.1855C20.2975 15.8427 20.2765 16.5264 20.0892 17.1733C19.9018 17.8202 19.5542 18.4093 19.0785 18.8861C18.6027 19.3628 18.0144 19.7117 17.3679 19.9004C16.7213 20.0891 16.0377 20.1115 15.3802 19.9655C15.019 20.5334 14.5203 21.0009 13.9303 21.3248C13.3404 21.6488 12.6782 21.8186 12.0052 21.8186C11.3322 21.8186 10.67 21.6488 10.0801 21.3248C9.49011 21.0009 8.99143 20.5334 8.63019 19.9655C7.97303 20.1129 7.2893 20.0919 6.6424 19.9045C5.9955 19.7172 5.40638 19.3695 4.92966 18.8938C4.45294 18.4181 4.10405 17.8297 3.91535 17.1832C3.72665 16.5367 3.70423 15.853 3.85019 15.1955C3.28015 14.8348 2.81061 14.3357 2.48524 13.7447C2.15988 13.1538 1.98926 12.4901 1.98926 11.8155C1.98926 11.1409 2.15988 10.4773 2.48524 9.88631C2.81061 9.29535 3.28015 8.79628 3.85019 8.43553Z' stroke='%231C1917' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .card__title {
    @include h3();
    font-weight: $fw-bold;
  }

  .card__description {
    @include paragraph-small();
  }

  .card__image-container {
    display: flex;
    flex-grow: 1;
    min-height: 200px;
  }

  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $clr-vanilla;

    flex-grow: 1;
    overflow: hidden;
    border-radius: $radius-xl;
  }
}

@media (min-width: 560px) {
  .support {

    .card__image-container {
      min-height: 250px;
    }
  }
}

@media (min-width: 760px) {
  .support {

    &__container > article + article {
      margin-block-start: 4rem;
    }

    .card__content {
      gap: $padding-side-xs;
    }

    .card__image-container {
      min-height: 300px;
    }
  }
}

@media (min-width: 920px) {
  .support {

    &__container > article + article {
      margin-block-start: 3rem;
    }

    .card__content {
      gap: $padding-side-xs;
    }

    .card__image-container {
      min-height: 350px;
    }
  }
}
